.flex-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  height: 20vh;
}

.site-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 800px;
}

#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

main {
height: 80vh;

}