* {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;

}

header {
  background-color:  rgb(4, 121, 238);
}

body {
  background-color:  rgb(157, 209, 254);
}

.nav-link {
  background-color: initial;
  transition: background-color 0.3s; 

}

.nav-link:active {
  background-color: black;

}


.flex-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  height: 20vh;
}

.site-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  
}

.name-div {
  font-family:cursive, Courier, Monospace;
  font-size: 40px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

}
.porfolio-div {
  margin-left: 20px;
  margin-top: 20px;
}
.about-me {
  font-size: 30px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  text-decoration: underline;
  background-color: rgb(188, 188, 224);
  width:150px;
}
.about-me-description {
  margin-top: 20px;
  line-height: 1.7em;
}


#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

main {
height: 80vh;

}