* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
}

header {
  background-color: rgb(4, 121, 238);
}

body {
  background-color: rgb(157, 209, 254);
}

.nav-link {
  background-color: initial;
  transition: background-color 0.3s;
}

.nav-link:active {
  background-color: black;
}

.flex-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  height: 20vh;
}

.flex-footer {
  background-color: rgb(4, 121, 238);
  text-align: center;
  position: fixed;
  padding: 10px;
  width: 100%;
  bottom: 0;
}

.margin-footer-right {
  margin-right: 60px;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.min-h-screen {
  height: 100px;
}

.site-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 800px;
}

.name-div {
  font-family: cursive, Courier, Monospace;
  font-size: 40px;
  padding: 5px;
  display: flex;
  height: 100px;
  margin-top: 50px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
  margin-left: 20px;
  border: 5px double black;
  flex-flow: row nowrap;
  align-items: center;
}
.porfolio-div {
  margin-left: 20px;
  margin-top: 20px;
}

.about-me-description {
  position: relative;
  line-height: 1.7em;
  font-size: 25px;
  border: 5px double rgb(4, 121, 238);
  padding: 15px;
  margin-right: 65px;
  bottom: 50px;

  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
}

#root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

main {
  height: 80vh;
}

.custom-screen {
  position: relative;
  bottom: 40px; /* You can change the value to the desired distance */
}

.custom-height {
  height: 100px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 35px;

  text-decoration: underline;
}
a {
  transform: scale(1);
  transition: transform 0.3s;
}
a:hover {
  transform: scale(1.1);
}

.resume-height {
  height: 510px;
}

.custom-bullet {
  list-style-image: url("./assets/wave.svg");
}

.custom-button {
  background-color: black;
}

.custom-border {
  box-shadow: 0 0 0 5px black, 0 0 0 10px rgb(4, 121, 238);
}

.custom-margin {
  margin-right: 10px;
}

.custom-margin-2 {
  margin-right: 50px;
}

.custom-margin-bottom {
  margin-bottom: 70px;
}

.prevent-default {
  list-style: none;
}

ul a:hover {
  text-decoration: underline;
}

.hover-underline:hover {
  text-decoration: underline !important;
}


